html {
   display: grid;
   grid-template-columns: 10vw auto 10vw;
}

body {
    font-size: 1.5em;
    grid-column: 2;
    margin: auto;
    max-width: 800px;
    width: 100%;

    margin-top: 2.5%;
    margin-bottom: 10%;
}

a {
    text-decoration: none;
    color: #0000e6;
}

a:hover {
    font-weight: bold;
}

a:visited {
    color: #0000e6;
}

header {
    position: relative;
    
    display: grid;
    grid-template-columns: auto auto;
}

header #title {
    grid-column: 1;

    position: absolute;
    bottom: -5%;

    font-size: 180%;
    transition: color 0.2s ease-out;
}

header #title:hover {
}

nav {
    grid-column: 2;
    font-size: 90%;
}

ul {
    list-style-type: none;
    text-align: right;
    margin-right: 1em;
}

figure {
    width: 70%;

    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    width: 100%;
}

figure figcaption {
    display: flex;
    flex-direction: column;

    text-align: right;
}
